<div class="bottom-container">
    <a class="footer-link" href="https://www.linkedin.com/">LinkedIn</a>
    <a class="footer-link" href="https://twitter.com/">Twitter</a>
    <a class="footer-link" href="https://www.appbrewery.co/">Website</a>
    <p>© 2019 Ryan Duffy</p>
</div>

</div>
</body>
</html>